<!DOCTYPE html>
<html ng-app="App">
<head>
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
	<script src="demo.js"></script>
</head>
<body>
<div ng-controller="ParentController" ng-init="init('ParamParent',passedParam)">
	<div ng-controller="ChildController as form" ng-init="init('ParamChild',passedParam)">
		asd
	</div>
	<button ng-click="create()">Create</button>
</div>
</body>
</html>